# .env.sample - Sample Environment Variables for Client (Vite)

# Server API URL (call it in React with import.meta.env.VITE_API_URL)
VITE_API_URL=http://localhost:3310
VITE_NUTRITIONIX_APP_ID=XXX
VITE_NUTRITIONIX_APP_KEY=XXXXX

# Other Environment Variables (if needed)
# VITE_OTHER_VARIABLE=value
