@import url("https://fonts.googleapis.com/css2?family=Aleo:wght@300;400;700&display=swap");
@import url("https://www.1001fonts.com/now-font.html");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --orange: #d56c06;

  --vert: #97bf0d;

  --blanc: #fff;

  --gris: #ece8da;

  --border: 15px;

  --aleo: "Aleo";

  --now: "Now-font", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--aleo);
  color: var(--vert);
  margin-left: 20px;
}

p {
  font-family: var(--now);
}
