.Container {
  display: flex;
  flex-direction: row;
  color: var(--vert);
  font-family: var(--aleo);
  overflow: hidden;
}
.MenuAdmin {
  background-image: url(../assets/images/autre.png);
  background-size: 25px;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 0 12px 12px 0;
  padding: 20px;
}
.MenuAdmin a {
  text-decoration: none;
  color: var(--blanc);
}
@media (min-width: 1200px) {
  .Container {
    flex-direction: row;
  }
}
@media (max-width: 1199px) and (min-width: 768px) {
  .Container {
    flex-direction: column;
  }
  .MenuAdmin {
    width: 100%;
    margin-top: 20px;
    text-align: center;
  }
}
@media (max-width: 767px) {
  .Container {
    flex-direction: column;
  }
  .MenuAdmin {
    width: 100%;
    margin-top: 10px;
    text-align: center;
  }
}
