.gestion-recette h2 {
  text-align: center;
}

.gestion-recette ul {
  list-style-type: none;
}

.gestion-recette li {
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  background-color: var(--blanc);
  border-radius: 8px;
  margin-bottom: 10px;
  border: 1px solid var(--gris);
}

.gestion-recette li .recipe-title {
  overflow-wrap: break-word;
  margin-bottom: 10px;
}

.gestion-recette li .button-container {
  display: flex;
  justify-content: space-between;
}

.gestion-recette li button {
  flex-shrink: 0;
}

.column ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  margin: 24px;
}

@media (min-width: 1200px) {
  .columns {
    grid-template-columns: 1fr 1fr;
    width: 80%;
  }

  .column ul {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .gestion-recette li button {
    width: 100px;
  }
}

@media (max-width: 1199px) and (min-width: 768px) {
  .columns {
    grid-template-columns: 1fr;
    width: 90%;
  }

  .column ul {
    grid-template-columns: 1fr 1fr;
  }

  .gestion-recette li button {
    width: 80px;
  }
}

@media (max-width: 767px) {
  .columns {
    grid-template-columns: 1fr;
    width: 100%;
  }

  .column ul {
    grid-template-columns: 1fr;
  }

  .gestion-recette li button {
    width: 60px;
    padding: 5px;
  }
}
