.columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 80%;
  height: 100%;
  gap: 10px; /* Ajout d'un espace entre les colonnes */
}

.column {
  width: 100%; /* Ajustement pour prendre toute la largeur de la colonne parent */
}

.column ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%; /* Utilisation de 100% pour une meilleure adaptabilité */
  margin: 24px;
}

.column h2 {
  display: flex;
  justify-content: center; /* Centrer le contenu horizontalement */
  flex-direction: column;
  align-items: center;
}

.li-gestion-utilisateur {
  margin: 16px;
  display: grid;
  width: 100%; /* Ajustement pour prendre toute la largeur de la colonne parent */
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

@media (max-width: 1200px) {
  .columns {
    grid-template-columns: 1fr;
    width: 90%;
  }

  .column ul {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 768px) {
  .columns {
    width: 100%;
  }

  .column ul {
    grid-template-columns: 1fr;

    .li-gestion-utilisateur {
      grid-template-columns: 1fr;
    }
  }

  @media (max-width: 480px) {
    .columns {
      width: 100%;
    }

    .column ul {
      grid-template-columns: 1fr;
    }

    .li-gestion-utilisateur {
      grid-template-columns: 1fr;
    }

    .column h2 {
      font-size: 1.5em;
    }
  }
}
