.gestion-recette {
  .dropdown-content {
    font-size: 16px;
    margin-top: 24px;
    color: var(--vert);
  }

  .Gestion {
    display: flex;
    flex-direction: row;
    margin: -700px 0 0 40px;
    color: var(--vert);
    font-family: var(--aleo);
    width: 75%;
    height: 700px;
  }
  .column ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 800px;
    margin-left: 300px;
  }
  .column h2 {
    display: flex;
    justify-content: space-between;
    align-items: right;
    margin-top: -750px;
  }
  .li-gestion-recette {
    margin: 16px;
    display: grid;
    width: 400px;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
  }
}
