.gestion-utilisateur h2 {
  text-align: center;
}

.gestion-utilisateur ul {
  list-style-type: none;
}

.gestion-utilisateur li {
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: var(--blanc);
  border-radius: 8px;
  margin-bottom: 10px;
  border: 1px solid var(--gris);
}

.gestion-utilisateur li button {
  flex-shrink: 0;
}

.column {
  margin: 10px;
}

.column ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  margin: 24px;
}

@media (min-width: 1200px) {
  .columns {
    grid-template-columns: 1fr 1fr;
  }

  .column ul {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .gestion-utilisateur li button {
    width: 100px;
  }
}

@media (max-width: 1199px) and (min-width: 768px) {
  .columns {
    grid-template-columns: 1fr;
  }

  .column ul {
    grid-template-columns: 1fr 1fr;
  }

  .gestion-utilisateur li button {
    width: 80px;
  }
}

@media (max-width: 767px) {
  .columns {
    grid-template-columns: 1fr;
  }

  .column ul {
    grid-template-columns: 1fr;
  }

  .gestion-utilisateur li button {
    width: 60px;
    padding: 5px;
  }
}
