nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--orange);
  height: 110px;
  border-radius: 0 0 15px 15px;
  padding: 0 10px;
}

.navbar_logo {
  background-color: var(--blanc);
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.nav_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

input {
  width: 25rem;
  height: 30px;
  border-radius: 15px;
  border: 2px solid var(--vert);
  padding-left: 10px;
}

.button_menu {
  display: flex;
  gap: 50px;
}

nav button {
  display: flex;
  align-items: center;
  color: var(--blanc);
  border: none;
  background: none;
  font-family: var(--aleo);
  gap: 10px;
  cursor: pointer;
}

.login_button {
  display: flex;
  background-color: var(--vert);
  height: 40px;
  width: auto;
  padding: 0 10px;
  border-radius: 15px;
  color: var(--blanc);
  justify-content: center;
  align-items: center;
}

.mobile_navbar {
  display: none;
}

@media (max-width: 768px) {
  nav {
    flex-direction: row;
    height: auto;
    padding: 10px;
    justify-content: space-between;
  }

  .navbar_logo {
    width: 50px;
    height: 50px;
  }

  .nav_content {
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    justify-content: space-between;
    width: auto;
    padding-top: 0;
  }

  input {
    width: 8rem;
    height: 30px;
  }

  .button_menu {
    display: none;
  }

  .login_button {
    width: auto;
    padding: 0 10px;
  }

  .login_button span {
    display: none;
  }

  .mobile_navbar {
    display: flex;
    justify-content: space-around;
    background-color: var(--orange);
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-radius: 15px 15px 0 0;
  }

  .mobile_navbar button {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.8rem;
    background: none;
    border: none;
  }
}
